/* .box:hover {
    transform: rotate(-7deg);
    transform: 
} */
/* 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}
 */

/* .box:hover {
     display: flex;
     justify-self: center;
     align-self: center;
     transform: rotate(-7deg);
 } */

/* .coolTitle {
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 80px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -3px -3px 0 firebrick, -4px -4px 0 firebrick, -5px -5px 0 firebrick,
    -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

.main-nav {
  display: flex;
  font-size: 1rem;
  list-style-type: none;
  margin: 1rem;
}

.push {
  margin-left: auto;
}

li {
  padding: 10px;
}

input {
  margin: 20px;
}

#gradient {
}

.entry-title {
} */

.coolTitle {
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 80px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -3px -3px 0 firebrick, -4px -4px 0 firebrick, -5px -5px 0 firebrick,
    -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 1.5em;
}
